# Node.js dependencies
node_modules/

# Environment files
.env

# SQLite database files
*.sqlite
*.db
/data/*.sqlite
/data/*.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
